.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.err {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframeWrap {
  width: 100%;
  height: 100%;
}
